---
//@ts-nocheck
import PageLayoutWithoutNav from "../../layouts/PageLayoutWithoutNav.astro";
export async function getStaticPaths() {
  const options = {
    headers: {
      apikey: "sb_publishable_tPEG8EM4OzwDGoC0ouaSOQ_iU-oafjN",
    },
  };
  const url = "https://tlokmiqetbkahgkfsecg.supabase.co/rest/v1/traene_supa";

  const response = await fetch(url, options);
  const data = await response.json();

  return data.map((personData) => {
    return {
      params: { slug: personData.slug },
      props: { personData },
    };
  });
}

// const { slug } = Astro.params;
const { personData } = Astro.props;
---

<PageLayoutWithoutNav>
  <h1>{personData.name}</h1>
  <img src={personData.photo} alt="" />
</PageLayoutWithoutNav>
