---
const { personData } = Astro.props;
---

<a href={"/people/" + personData.slug}>

  <article class={personData.is_active ? "" : "inactive"}>



    <h2>{personData.name}</h2>
    <img src={personData.photo} alt="" />
    <p>Stilling: {personData.occupation}</p>
    <p>Alder: {personData.age}</p>

    {personData.is_active ? <p>Individet er aktivt</p> : <p>Individet er IKKE aktivt</p>}
  </article>
</a>

<style>
  .inactive {
    background-color: bisque;
  }
</style>



