---
//@ts-nocheck

import Card from "./Card.astro";
const options = {
  headers: {
    apikey: "sb_publishable_tPEG8EM4OzwDGoC0ouaSOQ_iU-oafjN",
  },
};
const url = "https://tlokmiqetbkahgkfsecg.supabase.co/rest/v1/traene_supa";

const response = await fetch(url, options);
const data = await response.json();
---

<div class="the_container">
  {data.map((person) => <Card personData={person} />)}
</div>
<style>
  .the_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1rem;
  }
</style>
